.Todo {
  display: flex;
  margin: 0 -3rem 4px;
  padding: 1.1rem 3rem;
  height: 77px;
  justify-content: space-between;
  align-items: center;
  background: rgb(45, 62, 79);
  overflow-x: scroll;
  position: relative;
  transition: opacity 500ms ease-in-out;
}
.Todo-task {
  position: relative;
  transition: opacity 0.4s linear;
}
.Todo.completed {
  transition: opacity 300ms ease-in-out;
  transition-delay: 200ms;
  opacity: 0.5;
}

.Todo.completed .Todo-task {
  opacity: 0.6;
}
.Todo.completed .Todo-task:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -0.5rem;
  display: block;
  width: 0%;
  height: 1px;
  background: #fff;
  animation: strikeitem 0.3s ease-in 0s forwards;
}

@keyframes strikeitem {
  to {
    width: calc(100% + 1rem);
  }
}

.Todo-buttons {
  flex-shrink: 0;
  padding-left: 0.7em;
  margin-left: auto;
}

.Todo-buttons button {
  border: none;
  font-size: 1em;
  margin: 0.4em;
  background: none;
  -webkit-appearance: none;
  cursor: pointer;
  color: #fff;
  outline: none;
}
.Todo-buttons button.disabled {
  cursor: not-allowed;
}

.Todo-edit-form {
  display: flex;
  flex-wrap: wrap;
}
.Todo-edit-form label {
  min-width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}
.Todo-edit-form input {
  flex-grow: 1;
  border: none;
  background: rgb(53, 73, 93);
  color: white;
  outline: none;
  padding: 0 1.5em;
  font-size: initial;
}
.Todo-edit-form button {
  padding: 0 1.3rem;
  border: none;
  background: rgba(41, 187, 156, 1);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 5px;
  cursor: pointer;
  outline: none;
  transition: background 0.2s ease-out;
}
.Todo-edit-form button:hover {
  background: rgba(41, 187, 156, 0.5);
}
.Todo-edit-form input,
.Todo-edit-form button {
  font-family: 'Quicksand', sans-serif;
  height: 3rem;
}

svg:hover {
  color: rgba(41, 187, 156, 1);
}

/* Styling Checkbox Starts */
.checkbox-label {
  display: block;
  position: relative;
  margin-right: 2rem;
  cursor: pointer;
  font-size: 22px;
  line-height: 24px;
  height: 24px;
  width: 24px;
  clear: both;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-label .checkbox-custom {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 2px solid rgb(41, 187, 156);
}

.checkbox-label input:checked ~ .checkbox-custom {
  background-color: transparent;
  border-radius: 5px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity: 1;
  border: 2px solid rgb(41, 187, 156);
}

.checkbox-label .checkbox-custom::after {
  position: absolute;
  content: '';
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid rgb(41, 187, 156);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity: 1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(2);
  -ms-transform: rotate(45deg) scale(2);
  transform: rotate(45deg) scale(2);
  opacity: 1;
  left: 10px;
  top: -5px;
  width: 6px;
  height: 12px;
  border: solid rgb(41, 187, 156);
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
  -moz-transform: rotate(45deg) scale(2);
  -o-transform: rotate(45deg) scale(2);
}
*/



/* For Ripple Effect */
.checkbox-label .checkbox-custom::before {
  position: absolute;
  content: '';
  left: 10px;
  top: 10px;
  width: 0px;
  height: 0px;
  border-radius: 5px;
  border: 2px solid rgb(41, 187, 156);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.checkbox-label input:checked ~ .checkbox-custom::before {
  left: -3px;
  top: -3px;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
  opacity: 0;
  z-index: 999;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
