.TodoCreateForm {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}

.TodoCreateForm input {
  flex-grow: 1;
  border: none;
  background: rgb(45, 62, 79);
  color: white;
  padding: 0 1.5em;
  font-size: initial;
  outline: none;
  z-index: 1;
}

.TodoCreateForm button {
  padding: 0 1.3rem;
  border: none;
  background: rgba(41, 187, 156, 1);
  z-index: 1;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 5px;
  cursor: pointer;
  transition: background 0.4s ease-out;
  outline: none;
}
.TodoCreateForm button:hover {
  background: rgba(41, 187, 156, 0.5);
}
.TodoCreateForm input,
.TodoCreateForm button {
  font-family: 'Quicksand', sans-serif;
  height: 3rem;
}
